
{#{% block title %}Edit Produit{% endblock %}#}

{#{% block body %}#}
{#    <h1>Edit Produit</h1>#}

{#    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a href="{{ path('app_produit_index') }}">back to list</a>#}

{#    {{ include('produit/_delete_form.html.twig') }}#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block title %}Modification du produit : {{ produit.nom }}{% endblock %}

{% block body %}
{#    <h1>Création d'un produit</h1>#}

{#    {{ form_start(form) }}#}
{#    {{ form_row(form.nom) }}#}
{#    {{ form_row(form.prix) }}#}
{#    {{ form_row(form.categorie_id) }}#}
{#    {{ form_row(form.ordonnance) }}#}
{#    {{ form_row(form.imageFile) }}#}
{#    {{ form_row(form.Stock.quantite) }}#}
{#    {{ form_row(form.Stock.fournisseur_id) }}#}
{#    #}{# include the rest of the fields here #}
{#    <button type="submit" class="btn btn-primary">Modifier</button>#}
{#    {{ form_end(form) }}#}

    <div class="mx-4 my-3">
        <h1 class="h1 text-gray-800 mb-5 text-center">Création d'un produit</h1>

        <div class="card py-3 px-5 w-75 mx-auto bg-white">
            <div class="card-body">
                {{ form_start(form) }}

                <div class="mb-4">
                    {{ form_label(form.nom, 'Nom :', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control bg-white'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.prix, 'Prix(€) :', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                    {{ form_widget(form.prix, {'attr': {'class': 'form-control bg-white'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.categorie_id, 'Catégorie :', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                    {{ form_widget(form.categorie_id, {'attr': {'class': 'select2 form-control custom-select bg-white'}}) }}
                </div>

                <div class="form-check form-switch mb-4 mt-4">
                    {{ form_widget(form.ordonnance) }}
                    {{ form_label(form.ordonnance, 'Ordonnance', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.imageFile, 'Image :', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control bg-light'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.Stock.quantite, 'Quantité :', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                    {{ form_widget(form.Stock.quantite, {'attr': {'class': 'form-control bg-white'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.Stock.fournisseur_id, 'Fournisseur :', {'label_attr': {'class': 'font-weight-bold text-gray-800'}}) }}
                    {{ form_widget(form.Stock.fournisseur_id, {'attr': {'class': 'select2 form-control custom-select bg-white'}}) }}
                </div>

                <div class="d-flex mt-5">
                    <button type="submit" class="mr-2 px-3 d-none d-sm-inline-block shadow-sm btn btn-primary">Enregistrer</button>
                    <a href="{{ path('app_produit_index') }}" class="ml-2 d-none d-sm-inline-block shadow-sm btn btn-secondary">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}