{% extends 'base.html.twig' %}

{% block title %}TailleCommande index{% endblock %}

{% block body %}
    <h1>TailleCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taille_commande in taille_commandes %}
            <tr>
                <td>{{ taille_commande.id }}</td>
                <td>{{ taille_commande.quantite }}</td>
                <td>{{ taille_commande.prix }}</td>
                <td>
                    <a href="{{ path('app_taille_commande_show', {'id': taille_commande.id}) }}">show</a>
                    <a href="{{ path('app_taille_commande_edit', {'id': taille_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_taille_commande_new') }}">Create new</a>
{% endblock %}
